.idea
.DS_Store
*/.DS_Store
.scratch
#spectral
__pycache__/
*/__pycache_/
#kupe
simulations/test_meshes/
simulations/pyatoa_precursor/
#tremor
tremor/satoshi
tremor/gsnz18/cgps
tremor/gsnz18/figures
tremor/gsnz18/mseed_remove_response
mapping/figures
